@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 36 33% 96%;
    --foreground: 30 20% 20%;
  }

  body {
    @apply bg-brand-50 text-brand-900 antialiased;
  }
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #d4c1a0;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b89968;
}
